<mat-toolbar class="top" fxLayout="row">
    <span>PÁTIO LEGAL</span>
    <span class="spacer"></span>
    <button mat-button class="home" routerLink="/main/entrance" fxFlex="10">
        Entrada <mat-icon>assignment</mat-icon>
    </button>
    <button mat-button class="home" routerLink="/main/search" fxFlex="10">
        Consulta <mat-icon>search</mat-icon>
    </button>
    <button mat-button class="home" routerLink="/main/inspection" fxFlex="10">
        Vistoria <mat-icon>description</mat-icon>
    </button>
</mat-toolbar>
<div fxLayout="column" id="content" class="mat-elevation-z8">
    <router-outlet></router-outlet>
</div>
<mat-toolbar class="bottom" fxLayoutAlign="center">
    <span>www.patiolegal.com.br © 2018</span>
</mat-toolbar>